html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(18, 156, 5);
}
.main {
    display: flex;
    flex-flow: column;
    width:90%;
}
.menu {
    width: 10%;
    background-color: rgb(18, 156, 5);
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(18, 156, 5);
    min-height: 160px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.content {
    background-color: #39b7ff;
    min-height: 300px;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.footer {
    background-color: #39b7ff;
    min-height: 150px;
}